// 导航栏
.pt-nav {
  height: var(--notion-header-height);
  > .notion-callout-content {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: var(--notion-header-height);
    z-index: 99;
    max-width: none;
    background: #fff;
    backdrop-filter: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  }

  .notion-header,
  .notion-nav-header {
    position: unset;
    overflow: unset;
  }

  .notion-nav-header > .notion-row {
    justify-content: space-between;
  }
  .notion-row {
    > .notion-spacer {
      display: none;
    }
    > .notion-column {
      width: auto !important;
      justify-content: center;
    }
  }
  .logo {
    width: 169px;
  }
  .lang {
    display: none;
  }
  .pt-nav-link {
    display: flex;
    > .relative > .notion-link {
      margin: 0 12px;
      padding: 0 10px;
      font-size: 16px;
      display: inline-flex;
      color: #999;
      height: var(--notion-header-height);
      line-height: var(--notion-header-height);
      &.active,
      &:hover {
        opacity: 1;
        color: #000;
      }
    }
    margin-right: 24px;
  }
  .pt-nav-button {
    .notion-link {
      margin-left: 16px;
      b {
        font-weight: 600;
        height: 40px;
        padding: 8px 28px;
      }
      &:first-of-type {
        margin-left: 0;
        b {
          background: transparent;
          color: var(--light-primary);
          border: 1px solid var(--light-primary);
        }
      }
    }
  }
}
// 公共導航

.navMenuItem {
  &.navMenuItemAct {
    .title {
      color: #000;
      &::after {
        transform: none;
        filter: none;
      }
    }
    .detail {
      display: block;
    }
    .notion-link {
      filter: none !important;
    }
  }
  .title {
    &::after {
      content: '';
      background: url(/icon/arrow-up.svg) no-repeat top center;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      transform: rotate(180deg);
      transition: transform 0.2s;
      margin-top: -2px;
      filter: opacity(0.5);
    }
  }
  .detail {
    display: none;
    min-width: 200px;
    position: absolute;
    background-color: #fff;
    margin-left: 20px;
    padding: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    > a {
      font-size: 14px;
      color: #000;
      padding: 0 8px;
      margin: 16px 0;
      display: block;
      white-space: pre-wrap;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .pt-solution-list {
    > .notion-callout-content {
      > .notion-callout-text {
        > .notion-row {
          flex-direction: column;
          > .notion-column {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 8px;
            border-radius: 8px;

            // 其他業務
            > .notion-row {
              flex-direction: row;
              justify-content: space-between;
              .notion-asset-wrapper-image {
                width: 14px;
                height: 12px;
              }
            }
            .notion-asset-wrapper-image {
              min-width: auto;
              margin-right: 8px;
              width: 24px;
              height: 24px;
            }
            .notion-h3 {
              font-size: 16px;
              font-weight: normal;
              color: var(--primary);
            }
            .notion-text {
              width: 100%;
              margin-top: 16px;
              display: flex;
              flex-wrap: wrap;
              white-space: nowrap;
            }
            .notion-gray {
              font-size: 12px;
              display: block;
              margin-bottom: 8px;
            }
            .notion-link {
              font-size: 14px;
              color: #000;
              width: 100%;
              margin-bottom: 16px;
              display: block;
              white-space: pre-wrap;
            }
          }
        }
      }
    }
  }
}

@media (any-hover: hover) {
  .navMenuItem {
    &:hover {
      .title {
        color: #000;
        &::after {
          transform: none;
          filter: none;
        }
      }
      .detail {
        display: block;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navMenuItem {
    .pt-solution-list
      > .notion-callout-content
      > .notion-callout-text
      > .notion-row
      > .notion-column {
      .notion-text {
        margin-top: 12px;
      }
      .notion-link {
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-nav {
    .logo {
      width: 134px;
    }
  }
  .pt-nav-link {
    flex: 1;
  }
  .NavButtonM .notion-asset-wrapper-image {
    width: 32px;
    height: 32px;
  }
  .pt-nav-link {
    > .relative > .notion-link {
      padding: 12px 16px;
      font-size: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      filter: opacity(0.5);
      &.active,
      &:active {
        filter: none;
        color: #000;
      }
    }
  }
  .navMenuItem {
    .detail {
      width: 100%;
      position: unset;
      box-shadow: none;
      margin-left: 0;
      padding-left: 10px;
      > a {
        margin: 0 0 8px 0;
      }
    }
  }
  .pt-nav-button {
    margin-top: 16px;
    padding: 16px;
    .notion-callout-text {
      display: flex;
      align-items: center;
    }
    .notion-link {
      flex: 1;

      &:last-of-type {
        margin-left: 24px;
      }
      b {
        height: 44px;
        display: flex;
      }
    }
  }
}

// 主界面
.pt-banner {
  > .notion-callout-content {
    padding: 0 !important;
    max-width: 100%;

    > .notion-callout-text > .notion-row {
      height: calc(100vh - var(--notion-header-height));
      min-height: 860px;

      > .notion-spacer {
        display: none;
      }
      > .notion-column {
        width: 50% !important;
        justify-content: center;

        &:first-child {
          padding-left: calc((100vw - var(--max-width)) / 2);

          .notion-h3 {
            font-weight: normal;
          }
          .notion-h1 {
            margin-top: 12px;
            margin-bottom: 48px;
            font-size: 48px;
          }
          .notion-text {
            margin: 12px 0;
            font-size: 20px;
          }
          .payment-list {
            .notion-row {
              margin-top: 240px;
              > .notion-column {
                width: 40px !important;
              }
              > .notion-spacer {
                width: 48px;
              }
            }
          }
        }
        &:nth-child(3) {
          background: var(--primary) url(/banner-bg.png) 24px 24px no-repeat;
          background-size: cover;
          > .notion-asset-wrapper-image {
            flex-direction: row;
            padding-left: 136px;
            width: 375px;
            > div {
              display: block !important;
            }
          }
        }
      }

      .notion-link {
        margin-right: 24px;
        b {
          font-weight: 600;
          font-size: 14px;
          min-width: 160px;
          background-color: var(--dark-primary);
        }
        &:last-child {
          margin-right: 0;
          b {
            background-color: #ffffff;
            color: var(--primary);
          }
        }
      }
      .notion-list {
        color: #ffffff80;
        list-style-type: none !important;
        padding-left: 0;

        li::before {
          content: '';
          display: inline-block;
          width: 3px;
          height: 3px;
          border-radius: 3px;
          background-color: #ffffff80;
          margin: 4px 8px 4px 4px;
        }
        &:first-of-type {
          margin-top: 20px;
        }
        &:last-of-type {
          margin-bottom: 20px;
        }
      }
    }
    .banner-pay {
      background-color: #fff;
      border-radius: 16px;
      width: 375px;
      height: 720px;
      margin-left: 136px;
      padding: 0 16px;
      .notion-callout-text {
        > .notion-asset-wrapper-image {
          &:first-of-type {
            display: block;
            margin: 36px 0;
            > div {
              width: 135px !important;
            }
          }
          &:nth-of-type(2) {
            height: 343px;
            > div {
              img {
                border-radius: 16px;
              }
            }
          }
        }
      }
      .notion-row {
        color: #000;
        margin: 32px 0 16px 0;
        justify-content: space-between;
        h3 {
          font-size: 32px;
        }
        .notion-column {
          width: auto !important;
        }
        .notion-asset-wrapper-image {
          > div {
            margin-top: 8px;
            width: 24px !important;
          }
        }
      }
      .notion-text {
        font-size: 14px;
        color: #000;
        margin-bottom: 24px;
        .notion-gray {
          color: #999;
        }
      }
      .notion-link {
        margin-top: 60px;
        display: block;
        b {
          display: flex;
          color: #fff !important;
          background-color: var(--dark-primary) !important;
          margin-bottom: 40px;
        }
      }
    }
  }
}

// 导航
@media (max-width: 1440px) {
  .pt-banner {
    > .notion-callout-content > .notion-callout-text > .notion-row {
      padding-left: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .pt-banner {
    > .notion-callout-content > .notion-callout-text > .notion-row {
      height: auto;
      > .notion-column {
        width: 100% !important;
        text-align: center;
        padding: 0 16px;
      }
      > .notion-column:first-child {
        padding: 0 16px;
        .notion-h3 {
          margin-top: 40px;
        }
        .notion-h1 {
          font-size: 30px;
          font-weight: normal;
          margin: 40px 0;
        }
        .notion-list {
          display: none;
        }
        .payment-list {
          .notion-callout-text {
            display: flex;
            flex-direction: column-reverse;
          }
          .notion-row {
            margin: 0 0 48px 0;
            flex-direction: row;
            justify-content: space-evenly;

            .notion-column {
              width: 32px !important;
            }
          }
          .notion-text {
            display: flex;
            justify-content: center;
            align-items: center;
            .notion-link {
              flex: 1;
              b {
                display: flex;
              }
            }
          }
        }
      }
      > .notion-column:nth-child(3) {
        background: none;
        margin: 36px 0;
        > .notion-asset-wrapper-image {
          padding-left: 0;
          flex-direction: column;
        }
      }
    }
    > .notion-callout-content .banner-pay {
      margin-left: 0;
      width: 100%;
      height: auto;
      .notion-row {
        flex-direction: row;
        h3 {
          text-align: left;
          font-size: 20px;
          white-space: normal;
        }
        .notion-asset-wrapper-image > div {
          margin-top: 0;
        }
      }
      .notion-text {
        text-align: left;
      }
    }
    > .notion-callout-content > .notion-callout-text > .notion-row {
      padding-left: 0;
    }
  }
}

.pt-banner-reverse {
  .notion-callout-content {
    > .notion-callout-text > .notion-row {
      > .notion-column {
        &:nth-child(3) {
          padding-left: 40px;
          background: none;
        }

        &:first-child {
          padding-left: calc((100vw - var(--max-width)) / 2);
          padding-right: 40px;
          background: var(--primary) url(/banner-bg.png) 24px 24px no-repeat;
          background-size: cover;
          .notion-list {
            display: none;
          }
          .notion-asset-wrapper {
            div {
              align-items: center;
            }
            img {
              width: 550px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-banner-reverse {
    .notion-callout-content {
      > .notion-callout-text > .notion-row {
        flex-direction: column-reverse;
        height: auto;
        > .notion-column {
          &:nth-child(3) {
            padding: 0 16px;
            .notion-list {
              display: none;
            }
          }
          &:first-child {
            padding: 0 16px;
            background: none;
            .notion-list {
              display: block;
              li {
                padding: 0;
                font-size: 14px;
                line-height: 32px;
              }
              &:first-of-type {
                margin-top: 40px;
              }
              &:last-of-type {
                margin-bottom: 40px;
              }
            }
            .notion-asset-wrapper img {
              width: 300px;
            }
          }
        }
      }
    }
    .notion-list {
      text-align: left;
    }
    .notion-h1 {
      font-size: 28px;
      margin-top: 14px;
    }
    .notion-link {
      display: none;
    }
  }
}

// 首屏
.pt-bannerv2 {
  padding-top: 100px;
  padding-bottom: 48px;
  overflow: hidden;

  &.pt-bannerv2-wave {
    background: url(/home/banner-wave.png) no-repeat center 345px;
    background-size: contain;
  }
  .notion-blue {
    color: var(--light-primary);
  }
  .header {
    text-align: center;
    .notion-h1 {
      font-size: 64px;
      padding: 24px 0;
    }
    .notion-h3 {
      font-size: 24px;
    }
    .notion-text {
      font-size: 16px;
      color: #161c2d;
    }
    .notion-link {
      b {
        margin: 64px 0;
        font-size: 14px;
        padding: 12px 36px;
      }
      &:first-child {
        b {
          background: transparent;
          border: 1px solid var(--light-primary);
          color: var(--light-primary);
        }
        margin-right: 24px;
      }
    }
  }
  .content {
    .banner-video {
      margin: 0 auto 0;
      position: relative;
      display: flex;
      justify-content: center;

      &::before,
      &::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 684px;
        height: 684px;
        position: absolute;
        border: 3px solid #ededed66;
        border-radius: 100%;
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::after {
        width: calc(min(100vw, var(--max-width)) - 730px);
        height: calc(min(100vw, var(--max-width)) - 730px);
      }

      .banner-content {
        position: relative;
        z-index: 2;
        width: 360px;
        height: 740px;
        background: url(/home/phone.webp) top center no-repeat;
        background-size: cover;
        overflow: hidden;

        .pt-video {
          width: 87%;
          height: 90%;
          overflow: hidden;
          border-radius: 16px;
          margin: 40px auto;
          background: url(/home/video-cover.webp) top center no-repeat;
          background-size: cover;
        }
        video {
          width: 100%;
          display: block;
        }
      }
    }

    .banner-image {
      width: 576px;
      height: 207px;
      background: url(/home/banner-branch.webp) top center no-repeat;
      background-size: cover;
      margin-top: 96px;
      margin-bottom: 96px;
      display: flex;
      align-items: center;
      justify-content: center;

      .banner-content {
        > .notion-callout > .notion-callout-content > .notion-callout-text {
          display: flex;
          flex-direction: column;

          .notion-asset-wrapper-image {
            min-width: auto;
            div {
              width: 80px !important;
            }
          }
        }
      }
    }
  }
  .pt-list {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-wrap: wrap;
    .item {
      display: flex;
      align-items: center;
      width: 50%;
      h5 {
        font-weight: bold;
      }
      .item-content {
        display: flex;
        align-items: center;
        width: 350px;
      }
      &:nth-child(2n) {
        justify-content: flex-end;
        img {
          margin-right: 24px;
        }
      }
      &:nth-child(2n-1) {
        img {
          margin-left: 24px;
        }
        .item-content {
          flex-direction: row-reverse;
        }
      }
      // &:nth-child(1),
      // &:nth-child(2) {
      //   .item-content {
      //     bottom: 16px;
      //   }
      // }
      // &:nth-child(3),
      // &:nth-child(4) {
      //   .item-content {
      //     top: 120px;
      //   }
      // }
    }
  }

  @media (max-width: 1240px) {
    .content .banner-video {
      &::before {
        width: calc(100vw - 570px);
        height: calc(100vw - 570px);
      }
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 24px;
    &.pt-bannerv2-wave {
      background-image: url(/home/banner-wave-m.png);
      background-position-y: 245px;
    }
    .header {
      .notion-h1 {
        font-size: 28px;
      }
      .notion-h3 {
        font-size: 20px;
      }
      .notion-text {
        font-size: 14px;
        white-space: normal;
      }
      .notion-link {
        b {
          margin: 48px 0 0 0;
          padding: 12px 36px;
          min-width: 160px;
        }
        &:first-child {
          margin-right: 16px;
        }
      }
    }
    .content {
      .banner-video {
        width: 270px;
        height: 548px;

        .banner-content {
          width: 100%;
          height: 100%;
          background-size: contain;
          .pt-video {
            width: 85%;
            margin: 30px auto;
          }
        }
        &::before {
          width: calc(270px + 40vw);
          height: calc(270px + 40vw);
        }
        &::after {
          width: 90vw;
          height: 90vw;
        }
      }
      .banner-image {
        width: 100%;
        height: 100%;
        background: none;
        margin-bottom: 0;

        .banner-content {
          > .notion-callout > .notion-callout-content > .notion-callout-text {
            flex-direction: row;

            .notion-asset-wrapper-image {
              margin-left: 20px;
              div {
                width: 56px !important;
              }
              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    .pt-list {
      position: unset;
      flex-direction: column;
      margin-top: 50px;
      .item {
        width: 100%;
        justify-content: flex-start !important;
        align-items: flex-start;
        margin-bottom: 24px;
        img {
          margin: 0 24px 0 0 !important;
        }
        .item-content {
          width: 100%;
          position: unset !important;
          flex-direction: row !important;
          align-items: flex-start;
        }
      }
    }
  }
}

// 代付
.pt-payout {
  padding: 140px 0;

  .notion-h2 {
    margin-bottom: 16px;
  }
  .pt-todo {
    margin: 40px 0;
    max-width: 380px;
    .notion-callout-text {
      display: flex;
      flex-wrap: wrap;
      .notion-to-do {
        width: 50%;
        margin-bottom: 18px;
      }
    }
  }
  > .notion-callout-content > .notion-callout-text {
    .notion-row {
      justify-content: space-between;
      .notion-spacer {
        display: none;
      }
      > .notion-column {
        width: 100% !important;

        &:first-child {
          max-width: 390px;
          margin-right: 70px;
        }
        .notion-text {
          font-size: 14px;
        }
        .notion-gray {
          color: var(--gray);
        }
        .notion-link b {
          margin: 0 0 20px 0;
        }
        .pt-video {
          max-width: 760px;
          video {
            width: 100%;
            height: 100%;
          }
        }
      }
      .notion-property-checkbox {
        margin-right: 16px;
      }
      .notion-property-checkbox-checked {
        width: 20px;
        height: 20px;
        svg {
          width: 11px;
          height: 11px;
          top: 4px;
          left: 4px;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    padding: 60px 0;
    .pt-todo {
      margin-bottom: 24px;
    }
    .notion-h2 {
      font-size: 24px;
    }
    .notion-text {
      font-size: 15px;
    }
    .notion-asset-wrapper {
      > div {
        height: auto !important;
        margin: 40px 0 0 0;
      }
    }
  }
}
.pt-todo {
  .notion-property-checkbox-checked {
    background: var(--light-primary);
    border-radius: 4px;
    svg {
      width: 10px;
      height: 10px;
      left: 3px;
      top: 3px;
    }
  }
  .notion-to-do-item {
    font-weight: bold;
  }
}
.pt-alltime {
  text-align: center;
  background: var(--light-primary) url(/banner-bg.png) 24px 24px no-repeat;
  background-size: contain;
  padding: 60px 0;
  img {
    width: 48px;
    height: 48px;
  }
  .notion-h2 {
    padding: 24px 0;
  }
  .notion-text {
    white-space: nowrap;
  }
  @media (max-width: 1024px) {
    background-size: cover;
    background-position-x: 12px;
    background-position-y: 12px;
    .notion-text {
      white-space: pre-wrap;
    }
  }
}

.pt-manager {
  padding-top: 100px;
  padding-bottom: 50px;

  > .notion-callout-content > .notion-callout-text {
    .swiper {
      --swiper-pagination-bottom: 20px;
      .swiper-wrapper {
        padding-bottom: 60px;
      }
      .swiper-slide {
        border-radius: 8px;
        overflow: hidden;
        img {
          width: 100%;
          display: block;
        }
      }
      .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
          width: 48px;
          background: linear-gradient(to right, #b4caff, var(--light-primary));
          border-radius: 8px;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 40px;
      height: 40px;
      --swiper-navigation-size: 20px;
      --swiper-navigation-color: #999999;
      background-color: #efefef;
      border-radius: 100%;
      &:after {
        background: url(/icon/swiper-next.svg) no-repeat top center;
        background-size: contain;
        content: '';
        width: 32px;
        height: 20px;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .swiper-button-next {
      &:after {
        transform: rotate(180deg);
      }
    }
    .notion-asset-wrapper-image {
      margin: 32px 0;
    }
    .list {
      .notion-spacer {
        display: none;
      }
      .notion-callout-text {
        text-align: center;
      }

      > .notion-callout-content > .notion-callout-text > .notion-row > .notion-column {
        .notion-asset-wrapper-image {
          flex-direction: row;
          display: flex;
          justify-content: center;
          margin-top: 64px;

          > div {
            width: auto !important;
          }
          img {
            width: 64px;
          }
        }
        .notion-text {
          color: #666666;
          font-size: 14px;
          padding: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-manager {
    padding-top: 60px;
    padding-bottom: 0px;

    > .notion-callout-content > .notion-callout-text {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
      > .notion-asset-wrapper {
        display: none;
      }
      .list {
        margin: 40px 0;
        text-align: center;

        .notion-h {
          margin-bottom: 20px;
        }

        > .notion-callout-content > .notion-callout-text > .notion-row > .notion-column {
          margin-bottom: 24px;
          display: flex;

          .notion-asset-wrapper-image {
            margin-top: 0px;
            margin-bottom: 30px;

            > div {
              width: auto !important;
              margin: 0 auto !important;
            }
            img {
              width: 48px;
            }
          }
        }
      }
    }
  }
}

.pt-document {
  background-color: var(--bgNight);
  padding-top: 60px;
  padding-bottom: 120px;

  > .notion-callout-content > .notion-callout-text {
    .notion-h,
    .notion-text {
      color: #ffffff;
      padding: 0;
      margin: 0;
    }
    .notion-blue {
      color: var(--light-primary);
    }
    .notion-gray {
      color: var(--gray);
    }
    .notion-gray_background_co {
      background-color: #181825;
    }
    > .notion-row {
      .notion-column {
        justify-content: center;
        align-items: flex-end;
      }
    }
    .right {
      width: 480px;

      > .notion-callout-content {
        padding: 0;

        > .notion-callout-text {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: right;

          .notion-h1 {
            margin-top: 8px;
            margin-bottom: 24px;
          }
          > .notion-text {
            margin: 36px 0;
            .notion-link {
              display: block;
              b {
                width: 160px;
                padding-left: 0;
                padding-right: 0;
                margin-top: 20px;
              }
              &:not(:first-child) {
                b {
                  background-color: #fff;
                  color: var(--primary);
                }
              }
            }
          }
        }
      }
    }
    .list {
      margin-top: 64px;

      > .notion-callout-content {
        padding: 0;

        > .notion-callout-text > .notion-row {
          justify-content: space-between;

          .notion-spacer {
            width: 8px;
          }
          > .notion-column {
            margin-bottom: 10px;
          }
          > .notion-column .notion-callout {
            border-radius: 8px;
            padding: 16px 24px;
            height: 100%;
            &:hover {
              opacity: 0.9;
            }

            > .notion-callout-content > .notion-callout-text {
              .notion-h3 {
                margin-top: 30px;
                margin-bottom: 8px;
              }
              .notion-gray {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-document {
    padding-bottom: 40px;
    > .notion-callout-content > .notion-callout-text {
      .notion-row {
        flex-direction: column-reverse;
      }
      .right {
        width: 100%;
        > .notion-callout-content > .notion-callout-text > .notion-text {
          white-space: normal;
          margin: 18px 0;
          font-size: 15px;
        }
      }
      .list {
        margin-top: 32px;
      }
    }
  }
}

.pt-contact {
  > .notion-callout-content {
    // max-width: 1472px;
    padding-bottom: 96px;

    > .notion-callout-text > .notion-row {
      justify-content: center;

      > .notion-spacer {
        width: 0;
      }
      .notion-h {
        color: #ffffff;
      }
      .notion-text {
        color: #ffffff80;
      }
      .notion-link b {
        background-color: #ffffff;
        color: var(--primary);
        font-weight: 600;
      }
      > .notion-column {
        padding: 0;

        .left {
          height: 100%;
          padding: 6vw 4vw;

          &.notion-blue_background_co {
            background-color: var(--primary);
          }
          > .notion-callout-content {
            max-width: 375px;

            > .notion-callout-text {
              .notion-h {
                margin-top: 0;
                margin-bottom: 16px;
              }
              .notion-text {
                font-size: 20px;
                padding: 0;
              }
              .notion-link {
                font-size: 16px;
                display: block;
                margin-top: 40px;
              }
            }
          }
        }
        .right {
          height: 100%;
          display: flex;
          justify-content: center;

          > .notion-callout-content > .notion-callout-text {
            .notion-asset-wrapper-image {
              flex-direction: row;
              img {
                width: 40px;
                height: 40px;
              }
            }
            .notion-h3 {
              font-weight: 400;
              margin: 24px 0 10px 0;
            }
            .notion-text {
              white-space: nowrap;
            }
            .notion-link {
              margin-top: 25px;
              display: block;
              color: #ffffff;
              white-space: pre;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .pt-contact {
    padding: 0 16px;

    .notion-h1 {
      font-size: 20px;
    }
    .notion-callout-content > .notion-callout-text > .notion-row > .notion-column {
      .left {
        &.notion-blue_background_co {
          border-radius: 8px 8px 0 0;
          padding: 40px 16px;
        }
        > .notion-callout-content > .notion-callout-text .notion-text {
          font-size: 16px;
        }
      }
      .right {
        padding: 40px 32px;
        border-radius: 0 0 8px 8px;
        justify-content: flex-start;

        > .notion-callout-content {
          margin: 0;

          > .notion-callout-text > .notion-row > .notion-column:not(:first-child) {
            margin-top: 40px;
          }
        }
      }
    }
  }
}

// 结算
.pt-settlement {
  padding-top: 120px;
  padding-bottom: 120px;

  .notion-h1 {
    display: none;
  }

  > .notion-callout-content .notion-callout-text {
    > .notion-row > .notion-column {
      justify-content: center;

      .settle-list {
        .notion-h1 {
          margin-bottom: 40px;
          display: block;
        }

        > .notion-callout-content > .notion-callout-text > .notion-row > .notion-column {
          width: 228px !important;

          > .notion-callout {
            border-radius: 8px;
            border: 1px solid #cccccc;
            padding: 8px;

            > .notion-callout-content .notion-callout-text {
              text-align: center;
            }
          }
        }
      }
      .notion-text {
        // color: #666666;
      }
      > .notion-text {
        margin-top: 24px;
      }
      .notion-column {
        width: 100% !important;
      }
    }
  }
  .banner-content {
    max-width: 496px;
    margin: 24px auto;
  }
}

@media (max-width: 1024px) {
  .pt-settlement {
    padding: 60px 0 40px 0;
    .notion-h1 {
      display: block;
    }
    > .notion-callout-content .notion-callout-text > .notion-row > .notion-column {
      .settle-list {
        > .notion-callout-content > .notion-callout-text > .notion-row {
          flex-direction: row;
          > .notion-column {
            width: 50% !important;
            &:first-child {
              margin-right: 24px;
            }
          }
        }

        .notion-h1 {
          display: none;
        }
      }
    }

    > .notion-callout-content > .notion-callout-text > .notion-row {
      flex-direction: column-reverse;
    }
  }
}

// 服务商渠道
.pt-channel {
  padding-top: 60px;
  padding-bottom: 75px;

  > .notion-callout-content > .notion-callout-text > .notion-row > .notion-column {
    justify-content: center;
    align-items: flex-end;

    .right {
      max-width: 480px;

      > .notion-callout-content > .notion-callout-text {
        text-align: right;

        .notion-h1 {
          margin: 12px 0 32px;
        }
        .notion-text {
          margin: 24px 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-channel {
    > .notion-callout-content > .notion-callout-text > .notion-row {
      flex-direction: column-reverse;
      > .notion-column .right > .notion-callout-content > .notion-callout-text {
        text-align: left;
        .notion-text {
          margin: 40px 0;
        }
      }
    }
  }
}

// 其他服务
.pt-promotion {
  padding-top: 120px;
  padding-bottom: 100px;

  > .notion-callout-content {
    padding: 0 16px;
  }

  > .notion-callout-content > .notion-callout-text {
    .notion-h1 {
      margin-top: 0;
      margin-bottom: 3vw;
    }
    .notion-text {
      color: #ffffff80;
    }
    > .notion-row > .notion-column {
      > .notion-callout {
        border-radius: 8px;
        height: 100%;

        > .notion-callout-content > .notion-callout-text {
          > .notion-asset-wrapper-image {
            > div {
              width: auto !important;
              border-radius: 8px;
              overflow: hidden;
              &:hover {
                img {
                  transform: scale(1.1);
                  transition-timing-function: ease-in;
                }
              }
              img {
                transition: all 0.2s ease-in-out;
              }
            }
          }
          > .notion-callout > .notion-callout-content {
            padding: 32px 40px 48px;

            .notion-h {
              margin-top: 8px;
              margin-bottom: 16px;
              + .notion-text {
                min-height: 110px;
              }
            }
            .notion-link {
              display: block;
              margin-top: 32px;
            }
          }
        }
      }
      > .notion-gray_background_co {
        background-color: #fff;
      }
    }
  }

  .pt-promotion-row {
    > .notion-callout-content > .notion-callout-text {
      background-color: #fff;
      border-radius: 8px;
      margin-top: 32px;
      padding: 32px;
      .notion-row {
        align-items: center;
      }
      .notion-asset-wrapper-image > div {
        max-width: 480px !important;
        align-self: flex-start !important;
      }
      .notion-h {
        margin-top: 8px;
        margin-bottom: 16px;
        + .notion-text {
          min-height: 110px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-promotion {
    padding: 40px 0 20px 0;
    > .notion-callout-content > .notion-callout-text {
      .notion-h1 {
        margin-bottom: 20px;
      }
      > .notion-row {
        > .notion-spacer {
          display: block;
          height: 24px;
        }
        > .notion-column
          > .notion-callout
          > .notion-callout-content
          > .notion-callout-text
          > .notion-callout
          > .notion-callout-content {
          padding: 20px 10px 32px;
        }
      }
    }
    .pt-promotion-row {
      > .notion-callout-content > .notion-callout-text {
        margin-top: 0;
      }
    }
  }
}

// 愿景
.pt-vision {
  padding-top: 120px;
  padding-bottom: 80px;

  > .notion-callout-content > .notion-callout-text {
    .notion-h2 {
      margin-bottom: 60px;
      text-align: center;
    }
    > .notion-row {
      margin-bottom: 40px;
      > .notion-spacer {
        width: 0;
      }
      > .notion-column {
        width: calc(50% + 16px) !important;
        justify-content: center;

        > .notion-callout > .notion-callout-content {
          .notion-h {
            margin-bottom: 16px;
          }
          .notion-list {
            padding-left: 0;
            list-style-type: none !important;

            li {
              padding: 0;
              line-height: 32px;

              &::before {
                content: '';
                display: inline-block;
                width: 3px;
                height: 3px;
                border-radius: 3px;
                background-color: var(--fg-color);
                margin: 4px 8px 4px 4px;
              }
            }
          }
        }
        .left {
          border-radius: 8px 0px 0px 8px;

          > .notion-callout-content {
            padding: 6vw 2vw 6vw 4vw;
          }
        }
        .right {
          text-align: right;
          border-radius: 0px 8px 8px 0px;

          > .notion-callout-content {
            padding: 6vw 4vw 6vw 2vw;
          }
        }

        > .notion-asset-wrapper-image > div {
          width: auto !important;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-vision {
    padding: 40px 0 20px 0;
    > .notion-callout-content > .notion-callout-text {
      .notion-h2 {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: left;
      }
    }
    > .notion-callout-content > .notion-callout-text .notion-h1 {
      font-size: 24px;
      padding-bottom: 20px;
      margin-bottom: 0;
    }
    > .notion-callout-content > .notion-callout-text > .notion-row {
      margin-top: 20px;
      &:first-of-type {
        flex-direction: column-reverse;
      }
      > .notion-column {
        width: 100% !important;

        .left,
        .right {
          text-align: left;
          background-color: #ffffff;

          .notion-callout-content {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
    .notion-list {
      font-size: 14px;
    }
  }
}

// 收款场景
.pt-scence {
  background-size: cover;
  padding-top: 96px;
  padding-bottom: 96px;

  > .notion-callout-content {
    padding: 0 16px;
  }

  &:not(.notion-gray_background_co) {
    background: var(--bgNight);
    color: #fff;
  }
  @media (max-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// 代码块样式
.pt-code {
  background-color: #181825;
  pre[class*='language-'] {
    background-color: transparent;
    border: none;
    max-height: 600px;
  }
}

// 服务
.pt-service {
  background: var(--bgNight);
  padding-top: 12vw;
  padding-bottom: 12vw;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    opacity: 0.15;
    background: url(/service-bg.png) no-repeat top center;
    z-index: 0;
  }

  > .notion-callout-content {
    position: relative;
    z-index: 11;
  }

  > .notion-callout-content > .notion-callout-text {
    .notion-h,
    .notion-text {
      color: #ffffff;
      text-align: center;
    }
    .notion-text {
      margin-top: 16px;
    }
    .list {
      margin-top: 40px;

      > .notion-callout-content > .notion-callout-text > .notion-row {
        justify-content: center;

        > .notion-column:first-child {
          > .notion-callout:first-child {
            margin-left: 0;
          }
        }

        > .notion-column {
          width: auto !important;
          flex-direction: row !important;

          > .notion-callout {
            margin-left: 64px;
          }

          .notion-asset-wrapper-image > div {
            width: 32px;
            height: 32px;
          }

          .notion-text {
            margin-top: 12px;
            white-space: nowrap;
          }
          .notion-asset-wrapper > div {
            width: 32px !important;
          }
        }
        > .notion-spacer {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-service {
    padding-top: 90px;
    padding-bottom: 90px;
    > .notion-callout-content
      > .notion-callout-text
      .list
      > .notion-callout-content
      > .notion-callout-text
      > .notion-row {
      flex-direction: column;
      gap: 24px;
      justify-content: space-between;
      > .notion-column {
        width: 100%;
        > .notion-callout {
          margin-left: 0;
        }
      }
    }
  }
}

// 承诺
.pt-promise {
  > .notion-callout-content {
    width: 100%;
    max-width: none;

    > .notion-callout-text > .notion-row > .notion-column {
      justify-content: center;

      &:first-child {
        .notion-h {
          padding-bottom: 16px;
        }
      }

      .notion-h {
        color: #ffffff;
      }
      .notion-text {
        color: #ffffff80;
      }
      .left {
        > .notion-callout-content {
          padding: 12vw 40px;
          display: flex;
          justify-content: flex-end;

          > .notion-callout-text {
            width: 450px;

            .notion-text {
              font-size: 20px;
            }
          }
        }
      }
      .right {
        > .notion-callout-content {
          padding: 40px;

          > .notion-callout-text {
            .notion-text {
              font-size: 14px;
            }
            .form-callout > .notion-callout-content {
              .form-box {
                background-color: #ffffff;
                border-radius: 8px;
                padding: 6px 6px 6px 18px;
                display: inline-block;
                margin-top: 24px;
                margin-bottom: 24px;

                form {
                  display: flex;
                  align-items: center;

                  .form-item {
                    input {
                      width: 300px;
                      color: #161c2d;
                    }
                    margin-right: 10px;
                  }

                  .submit-btn a {
                    padding: 10px 30px;
                    min-width: 166px;
                    background-color: var(--light-primary);
                    color: #ffffff;
                    border-radius: 8px;
                    text-align: center;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.notion-blue_background_co .left {
    background-color: var(--primary);
  }
}

@media (max-width: 1024px) {
  .pt-promise {
    &.notion-callout > .notion-callout-content {
      padding: 0;
      > .notion-callout-text
        > .notion-row
        > .notion-column
        .left
        > .notion-callout-content
        > .notion-callout-text
        .notion-text {
        font-size: 14px;
        padding-top: 10px;
      }
    }

    > .notion-callout-content {
      .form-item input {
        width: 100% !important;
      }
      > .notion-callout-text > .notion-row > .notion-column .right > .notion-callout-content {
        padding: 40px 16px;
      }
      .notion-callout-text
        > .notion-row
        > .notion-column
        .right
        > .notion-callout-content
        > .notion-callout-text
        .form-callout
        > .notion-callout-content
        .form-box {
        width: 100%;
        form {
          .form-item {
            flex: 1;
          }
          .submit-btn {
            a {
              min-width: 100px;
              padding: 10px 0;
            }
          }
        }
      }
    }
    .notion-h1 {
      font-size: 20px;
    }
  }
}

// 解决方案-收款
.pt-step {
  padding: 100px 0 120px 0;
  .notion-callout-content {
    .notion-callout-content {
      padding: 0;
    }
  }
  .notion-h3 {
    span {
      color: var(--light-primary);
    }
  }
  .swiper-slide,
  .swiper-slide img {
    border-radius: 16px;
    overflow: hidden;
  }
  .pt-step-option {
    padding: 40px 0;
    .notion-link {
      white-space: pre-wrap;
      margin-right: 24px;
      &:nth-of-type(1) {
        b {
          background: var(--dark-primary);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-step {
    padding: 60px 0 24px 0;
    .swiper-pagination {
      // --swiper-pagination-top: 18px;
      // --swiper-pagination-bottom: 18px;
      --swiper-pagination-bullet-horizontal-gap: 8px;
      .swiper-pagination-bullet {
        transition: width 0.3s ease-in-out;
      }
      .swiper-pagination-bullet-active {
        width: 24px;
        border-radius: 4px;
      }
    }
    .swiper-slide,
    .swiper-slide img {
      border-radius: 12px;
    }
  }
}

// 首页FAQ
.pt-faq {
  padding: 60px 0 120px 0;
  .notion-h1 {
    margin-bottom: 64px;
  }
}
@media (max-width: 1024px) {
  .pt-faq {
    padding-bottom: 40px;
    .notion-h1 {
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

/* TOGGLE */
.notion-toggle {
  border: 1px solid var(--color-border-default) !important;
  border-radius: 8px;
  margin-bottom: 12px;
  position: relative;
  text-align: left;
  transition: background 0.2s ease-in-out;

  summary {
    margin: 0;
    padding: 12px 0;
    font-size: 24px;
    margin-right: 40px;
    &::marker {
      content: none;
    }
    &:after {
      width: 40px;
      height: 40px;
      position: absolute;
      font-weight: 100;
      font-size: 24px;
      line-height: 1;
      content: '';
      background: url(/icon/plus.svg) no-repeat top center;
      background-size: cover;
      top: 14px;
      right: 0;
    }
  }

  &[open] {
    summary {
      &:after {
        content: '';
        background-image: url(/icon/minus.svg);
      }
    }
  }
  > div {
    font-size: 16px;
    color: var(--gray);
    margin-left: 0;
    padding-right: 60px;

    li {
      padding: 0;
    }

    .notion-text {
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  .notion-toggle {
    summary {
      font-size: 16px;
      margin-right: 30px;
      &:after {
        width: 30px;
        height: 30px;
      }
    }
    > div {
      padding-right: 0px;
      .notion-text {
        font-size: 14px;
      }
    }
  }
}

// 介绍 - 业界领先
.pt-introduce {
  padding-bottom: 120px;

  > .notion-callout-content > .notion-callout-text {
    .notion-h1 {
      margin-bottom: 3vw;
    }
    .intro-list {
      .intro-item {
        overflow: hidden;
        padding-top: 32px;
        padding-left: 32px;
        border-radius: 8px;
        margin-left: 24px;
        width: 290px;
        transition: all 1s;

        &:first-child {
          margin-left: 0;
        }
        // 标题
        .title {
          font-size: 24px;
          font-weight: 600;
          color: #ffffff;
          margin-bottom: 24px;
        }
        .content {
          color: #ffffff;
          opacity: 0.2;
          width: 536px;

          ul {
            margin-bottom: 40px;
            list-style-type: none !important;

            li::before {
              content: '';
              display: inline-block;
              width: 3px;
              height: 3px;
              border-radius: 3px;
              background-color: #ffffff;
              margin: 4px 8px 4px 4px;
            }
          }
        }
        // 背景色
        &:nth-child(3n + 1) {
          background-color: #0e31cc;
        }
        &:nth-child(3n + 2) {
          background-color: var(--light-primary);
        }
        &:nth-child(3n + 3) {
          background-color: #5a31f4;
        }

        &.active {
          padding-right: 32px;
          width: 600px;
          background-color: var(--bgGray);

          .title {
            color: var(--light-primary);
          }
          .content {
            color: var(--fg-color);
            opacity: 1;

            ul li::before {
              background-color: var(--fg-color);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-introduce {
    padding: 45px 0 30px 0;
    > .notion-callout-content > .notion-callout-text {
      .notion-h1 {
        margin-bottom: 16px;
      }
      .intro-list {
        .intro-item {
          overflow: hidden;
          padding: 0px 10px;
          width: auto;
          height: 64px;
          margin: 0 0 10px 0;
          transition-property: height;
          .title {
            margin: 16px 0;
            font-size: 20px;
          }
          .link {
            display: none;
          }
          .content {
            width: 100%;
            font-size: 14px;
            margin-bottom: 16px;
            ul {
              margin-bottom: 16px;
            }
          }
          &.active {
            height: auto;
            width: 100%;
            padding-right: 10px;
          }
        }
        .intro-item:first-child {
          .content {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// 选择原因
.pt-reasons {
  padding-top: 96px;
  padding-bottom: 60px;

  > .notion-callout-content {
    padding: 0 16px;

    > .notion-callout-text {
      text-align: center;

      .pt-list {
        margin-top: 64px;

        > .notion-callout-content > .notion-callout-text > .notion-row {
          > .notion-column {
            margin-bottom: 24px;

            > .notion-callout {
              padding: 54px;
              height: 100%;

              .notion-asset-wrapper-image div {
                width: 80px !important;
              }
              .notion-h3 {
                margin-top: 16px;
                margin-bottom: 16px;
              }
            }
          }
          .notion-spacer {
            width: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-reasons {
    padding-bottom: 30px;

    > .notion-callout-content > .notion-callout-text .pt-list {
      margin-top: 45px;

      > .notion-callout-content > .notion-callout-text > .notion-row > .notion-column {
        > .notion-callout {
          padding: 24px;

          .notion-text {
            white-space: normal;
          }
        }
      }
    }
  }
}

// 底部导航
.pt-footer {
  padding-top: 100px;
  padding-bottom: 87px;
  color: #666666;
  font-size: 14px;

  > .notion-callout-content {
    padding: 0 16px;
    .footer-link {
      padding-bottom: 48px;
      .notion-callout-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid #efefef;
        border-left-width: 0;
        border-right-width: 0;
        .notion-text {
          width: auto;
          margin: 24px 0;
        }
        .notion-link {
          color: inherit;
          &:hover {
            color: #000 !important;
            background: none;
            opacity: 1;
          }
        }
      }
    }

    .footer-right {
      > .notion-callout-content > .notion-callout-text {
        display: flex;
      }
    }
    > .notion-callout-text > .notion-row {
      > .notion-spacer {
        display: none;
      }
      > .notion-column:nth-last-of-type(2) {
        flex: 1;
        width: auto !important;
      }
      .footerLogo {
        .notion-asset-wrapper {
          margin-bottom: 24px;
          img {
            width: 170px;
          }
        }
        .notion-link {
          color: #000;
        }
      }
      .shareLinks {
        width: 260px;
        margin-top: 30px;

        > .notion-callout-content > .notion-callout-text {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .notion-asset-wrapper {
            min-width: auto;
            div {
              width: 32px !important;
            }
            img {
              cursor: pointer;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
      .footerMenu {
        min-width: 150px;

        > .notion-callout-content > .notion-callout-text {
          font-size: 14px;
          .notion-text {
            white-space: normal;
            b {
              color: #000;
              margin-bottom: 24px;
              display: block;
              font-size: 16px;
            }
          }
          .notion-link {
            display: block;
            margin-bottom: 24px;
            &:hover {
              color: #000;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pt-footer {
    padding: 20px 16px 0px 16px;
    > .notion-callout-content {
      padding: 0;
      .footer-link {
        padding: 32px 0 48px 0;
        .notion-callout-text {
          margin: 0 -8px;
          justify-content: flex-start;
          .notion-text {
            margin: 6px;
          }
        }
      }
    }

    .footer-right {
      margin-top: 30px;
      > .notion-callout-content > .notion-callout-text {
        flex-wrap: wrap;
        .footerMenu {
          width: 50%;
          margin-bottom: 30px;
          .notion-text {
            line-height: 1.2;
          }
        }
      }
    }
  }
}
.pt-flow-sheet {
  padding-top: 100px;

  > .notion-callout-content > .notion-callout-text {
    text-align: center;

    > .notion-h2 {
      margin-bottom: 64px;
    }

    .sheet-title {
      > .notion-callout-content > .notion-callout-text > .notion-row {
        background-image: linear-gradient(
          to right,
          transparent 20%,
          var(--bd-dashed) 50%,
          transparent 80%
        );
        background-size: 14px 2px;
        background-repeat: repeat-x;
        background-position: left bottom;
        > .notion-column {
          align-items: center;
          padding: 32px 32px 48px;
          font-weight: 600;
          @media (max-width: 640px) {
            padding: 24px 20px;
          }
        }
      }
    }
    .sheet-content {
      > .notion-callout-content > .notion-callout-text > .notion-row {
        overflow: visible;

        > .notion-column {
          position: relative;
          padding: 48px 32px 16px;
          font-size: 14px;
          font-weight: 600;

          .element {
            padding: 18px;
            width: 184px;
            border: 1px solid var(--bd-solid);
            border-radius: 8px;

            &.primary {
              border-color: var(--light-primary);
              background: var(--bg-primary);
              border-radius: 30px;
            }
            &.toDown::before {
              display: inline-block;
              width: 6px;
              height: 35px;
              position: absolute;
              bottom: -34px;
              left: calc(50% - 3px);
              content: '';
              background: url(/icon/down-solid-arrow.svg) no-repeat;
              background-size: cover;
            }
            &.toRight {
              .notion-h3 {
                position: absolute;
                width: 50px;
                font-size: 14px;
                bottom: calc(50% - 25px);
                right: -25px;
                overflow: hidden;
                background-color: #ffffff;
                z-index: 1;
              }
              &::after {
                display: inline-block;
                width: 99px;
                height: 6px;
                position: absolute;
                right: -49.5px;
                top: calc(50% + 13px);
                content: '';
                background: url(/icon/right-dashed-arrow.svg) no-repeat;
                background-size: cover;
              }
            }
          }
        }
        @media (max-width: 896px) {
          > .notion-column {
            .element {
              &.toRight {
                .notion-h3 {
                  bottom: calc(50% - 10px);
                  background-color: transparent;
                }
                &::after {
                  width: 25px;
                  right: -12.5px;
                  background: url(/icon/short-right-dashed-arrow.svg) no-repeat;
                }
              }
            }
          }
        }
        @media (max-width: 640px) {
          > .notion-column {
            padding: 24px 10px;

            .element {
              width: 96px;
              padding: 8px 10px;

              &.toDown::before {
                bottom: -16px;
              }
              &.toRight {
                .notion-h3 {
                  bottom: calc(50% + 3px);
                }
                &::after {
                  top: calc(50% - 3px);
                }
              }
            }
          }
        }
      }
    }

    .sheet-title,
    .sheet-content {
      > .notion-callout-content > .notion-callout-text > .notion-row {
        @media (max-width: 640px) {
          flex-direction: row;
          > .notion-column {
            width: calc((100% - 2 * min(32px, 4vw)) * 0.333333) !important;
          }
        }
        > .notion-spacer {
          display: none;
        }
        > .notion-column {
          flex: 1;
          align-items: center;
          justify-content: center;
          background-image: linear-gradient(transparent 20%, var(--bd-dashed) 50%, transparent 80%);
          background-size: 2px 14px;
          background-repeat: repeat-y;

          &:first-child {
            background: none;
          }
        }
      }
    }
  }
}
