:root {
  --notion-header-height: 80px;
  --max-width: 1256px;
  --primary: #0656f7;
  --light-primary: #1865ff;
  --dark-primary: #044fe5;
  --gray: #6d6d82;
  --bgGray: #f7f9fc;
  --bgNight: #101018;
  --bg-primary: #1865ff1a;
  --bd-solid: #cfd0d0;
  --bd-dashed: #e1e1e1;
  --bd-lighter: #f7f6ff;
}

@media (max-width: 1024px) {
  :root {
    --notion-header-height: 64px;
  }
}
