{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "importOrder": [
    "^(react/(.*)$)|^(react$)|^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^(@/lib/(.*)$)|^(@/components/(.*)$)|^(@/styles/(.*)$)|^(@/hooks/(.*)$)|",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
