.notion-callout.pt-payscan{
  padding-bottom: 40px;
  background-color: #f6f8fb;

  &>.notion-callout-content{
    background-color: #fff;
    padding-left:  32px;
    padding-right:  0;

    &>.notion-callout-text>.notion-row{
      padding: 0;

      &>.notion-column{
        padding-top: 0;
        padding-bottom: 0;
        justify-content: center;

        .notion-h2{
          margin-top: 0;
        }
      }
    }
  }
}
