.notion-callout.pt-payscan{
  padding-bottom: 40px;
  background-color: #f6f8fb;

  .notion-spacer{
    display: none;
  }
  &>.notion-callout-content{

    &>.notion-callout-text>.notion-row{
      padding: 0;
      background-color: #fff;

      &>.notion-column:first-of-type{
        padding-left:  32px;
        flex: 1;
        width: auto !important;

      }
      &>.notion-column{
        padding-top: 0;
        padding-bottom: 0;
        justify-content: center;

        .notion-h2{
          margin-top: 0;
        }
      }
    }
  }
}
