.notion-callout.pt-footer{
  background-color: #101018;
  padding-top: 116px;
  padding-bottom: 87px;
  color: #6F7489;
  .notion-spacer{
    display: none;
  }

  &>.notion-callout-content{
    padding-left:  32px;
    padding-right:  0;

    &>.notion-callout-text>.notion-row{
      padding: 0;

      &>.notion-column:nth-last-of-type(2){
        flex: 1;
        width: auto !important;
      }


      .notion-callout-content{
        padding: 0;
      }
    }
  }
}

.notion-callout.footerLogo{
  width: 430px;
  .notion-link{
    color: #fff;
  }
}

.notion-callout.shareLinks{
  width: 260px;
  margin-top: 30px;
  >.notion-callout-content>.notion-callout-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .notion-asset-wrapper{
      min-width: auto;
    }
    img{
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
    }
  }
}

.notion-callout.footerMenu{
  width: 140px;
  >.notion-callout-content>.notion-callout-text{
    .notion-link{
      display: block;
      margin-bottom: 24px;
      &:hover{
        color: #fff;
      }
    }
  }
}
