.notion-h1 {
    font-size: 40px;
}
.notion-h2 {
    font-size: 32px;
}
.notion-h3 {
    font-size: 24px;
}

.pt-nav{
    padding: 0;
    margin: 0;
    height: var(--notion-header-height);

    .notion-nav-header > .notion-row {
        justify-content: space-between;
    }

    .notion-callout-content {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    .notion-callout{
        margin: 0;
        padding: 0;
    }

    > .notion-callout-content > .notion-callout-text > .notion-row {
        justify-content: space-between;
    }


    .notion-column{
        padding: 0;
        width: auto !important;
        justify-content: center;
    }
    .notion-spacer {
        display: none;
    }
    .logo{
        .notion-asset-wrapper{
            width: 169px;
        }
    }
    .lang{
        display: none;
    }
    .navLink{
        .notion-link{
            margin: 0 12px;
            font-size: 16px;
            display: inline-flex;
        }
        margin-right: 16px;
    }
    .navButton{
        .notion-link {
            b {
                margin-left: 16px;
                font-weight: 600;
            }
            &:first-of-type b {
                background-color: var(--primary);
            }
        }
    }
}

.pt-banner{
    padding: 0;
    .notion-callout-content{
        padding: 0;
        max-width: 100%;
        > .notion-callout-text > .notion-row{
            color: #fff;
            justify-content: space-between;
            .notion-spacer{
                display: none;
            }
            > .notion-column{
                width: 50%!important;
                padding: 0;
                display: flex;
                justify-content: center;
                &:first-child{
                    padding-left: calc(((100% - 1256px) / 2) + 16px);
                    padding-right: 60px;

                    .notion-row{
                        margin-top: 30px;
                        .notion-column{
                            width: 44px !important;
                            margin-right: 48px;
                        }   
                    }
                }
                &:nth-child(3){
                    padding: 120px 0;
                    background: #0E31CC url(/banner-bg.png);
                    background-size: cover;
                    .notion-asset-wrapper{
                        > div {
                            align-items: center;
                        }
                        img{
                            width: 375px;
                        }
                    }
                }
               
            }
            .notion-gray{
                color: rgba(255, 255, 255, 0.5);
            }
            .notion-link{
                margin-right: 15px;
                
                b {
                    font-weight: 600;
                    background-color: #0E31CC;
                }
                &:last-child {
                    b {
                        background-color: #fff;
                        color: var(--primary);
                    }
                }
            }
            .notion-h1{
                margin: 20px 0 40px 0;
            }
            .notion-list {
                color: #FFFFFF80;
            }
        }
    }
}

.pt-manager {
    padding-top: 120px;
    padding-bottom: 106px;

    > .notion-callout-content > .notion-callout-text {
        
        .notion-h {
            margin-top: 0;
        }
        .notion-h1 {
            margin-bottom: 40px;
        }
        .demo {
            > .notion-callout-content {
                padding: 0;

                .notion-row {
                    .notion-spacer {
                        width: 100px;
                    }
                    .notion-column {
                        width: auto !important;
                        justify-content: flex-end;
                        padding: 0;
                    }
                }
            }
        }
        .notion-link { 
            b {
                height: 40px;
                padding: 8px 26px;
            }
        }
        .notion-asset-wrapper-image {
            margin-top: 32px;
            margin-bottom: 48px;
        }
        .list {
            > .notion-callout-content > .notion-callout-text > .notion-row > .notion-column {
                .notion-asset-wrapper-image {
                    flex-direction: row;
                }
                .notion-text {
                    color: #666666;
                }
            }
        }
        
    }
}

.pt-document {
    background-color: #101018;
    padding-top: 60px;
    padding-bottom: 120px;

    > .notion-callout-content > .notion-callout-text {
        
        .notion-h, .notion-text {
            color: #FFFFFF;
            padding: 0;
            margin: 0;
        }
        .notion-blue {
            color: #1865FF;
        }
        .notion-gray {
            color: #6D6D82;
        }
        .notion-gray_background_co {
            background-color: #181825;
        }
        > .notion-row {
            .notion-column {
                justify-content: center;
                align-items: flex-end;
            }
        }
        .right {
            width: 480px;

            > .notion-callout-content {
                padding: 0;

                > .notion-callout-text {
                
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    text-align: right;
    
                    .notion-h1 {
                        width: 300px;
                        margin-top: 8px;
                        margin-bottom: 24px;
                    }
                    .notion-link {
                        display: block;
                        margin-top: 150px;
                    }
                }
            }
        }
        .list {
            margin-top: 64px;
            
            > .notion-callout-content {
                padding: 0;

                > .notion-callout-text > .notion-row { 
                    justify-content: space-between;

                    .notion-spacer {
                        width: 8px;
                    }
                    >.notion-column .notion-callout {
                        border-radius: 8px;
                        padding: 16px 8px;
                        height: 100%;

                        > .notion-callout-content > .notion-callout-text {
                            
                            .notion-h3 {
                                margin-top: 30px;
                                margin-bottom: 8px;
                            }
                            .notion-gray {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt-contact {
    background-color: #101018;
    
    > .notion-callout-content {
        max-width: 1472px;
        padding: 0;

        > .notion-callout-text > .notion-row {
            justify-content: center;

            > .notion-spacer {
                width: 0;
            }
            .notion-h {
                color: #FFFFFF;
            }
            .notion-text {
                color: #FFFFFF80;
            }
            .notion-link b {
                background-color: #FFFFFF;
                color: var(--primary);
                font-weight: 600;
            }
            > .notion-column {
                padding: 0;

                .left {
                    height: 100%;
                    padding: 110px 80px;

                    &.notion-blue_background_co {
                        background-color: #0E31CC;
                    }
                    > .notion-callout-content {
                        max-width: 375px;

                        > .notion-callout-text {

                            .notion-h {
                                margin-top: 0;
                                margin-bottom: 16px;
                            }
                            .notion-text {
                                font-size: 20px;
                                padding: 0;
                            }
                            .notion-link {
                                font-size: 16px;
                                display: block;
                                margin-top: 40px;
                            }
                        }
                    }
                }
                .right {
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    > .notion-callout-content > .notion-callout-text {

                        .notion-asset-wrapper-image {
                            flex-direction: row;
                            img {
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .notion-h3 {
                            font-weight: 400;
                            margin-bottom: 0;
                        }
                        .notion-link {
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

.pt-settlement {
    > .notion-callout-content {
        padding: 120px 0;

        > .notion-callout-text > .notion-row > .notion-column {
            justify-content: center;

            .settle-list {
                > .notion-callout-content {
                    padding: 0;

                    > .notion-callout-text > .notion-row > .notion-column {
                        width: 228px !important;

                        > .notion-callout {
                            border-radius: 8px;
                            border: 1px solid #CCCCCC;

                            > .notion-callout-content .notion-callout-text {
                                text-align: center;

                                .notion-h {
                                    margin: 0;
                                    padding: 8px;
                                }
                            }
                        }
                    }
                }
            }

            .notion-text {
                color: #666666;
            }
        }
    }
}

.pt-channel {
    > .notion-callout-content {
        padding: 60px 0 75px;

        > .notion-callout-text > .notion-row > .notion-column {
            justify-content: center;
            align-items: flex-end;

            .right {
                max-width: 480px;

                > .notion-callout-content > .notion-callout-text{
                    text-align: right;

                    .notion-h1 {
                        margin: 12px 0 32px;
                    }
                    .notion-text {
                        margin: 12px 0;
                    }
                }
            }
        }
    }
}

.pt-promotion {
    background-color: #101018;

    > .notion-callout-content {
        padding: 120px 0;

        > .notion-callout-text {

            .notion-h1 {
                margin-top: 0;
                margin-bottom: 56px;
            }
            .notion-h {
                color: #FFFFFF;
            }
            .notion-text {
                color: #FFFFFF80;
            }
            > .notion-row > .notion-column {
                > .notion-callout {
                    border-radius: 8px;
                    height: 100%;

                    > .notion-callout-content {
                        padding: 0;
                        
                        > .notion-callout-text {
    
                            > .notion-asset-wrapper-image {
                                margin: 0;
    
                                > div {
                                    width: auto !important;
                                }
                            }
                            > .notion-callout > .notion-callout-content {
                                padding: 32px 40px 48px;

                                .notion-text {
                                    padding: 0;
                                }
                                .notion-h {
                                    margin-top: 8px;
                                    margin-bottom: 16px;
                                }
                                .notion-link {
                                    display: block;
                                    margin-top: 32px;
                                }
                            }
                        }
                    }
                }
                > .notion-gray_background_co {
                    background-color: #181825;
                }
            }
        }

    }
}